body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h3 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form input[type="text"],
  form textarea,
  form input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  form button.btn-primary {
    background-color: #4CAF50;
    color: #fff;
    border: none;
  }
  
  form button.btn-danger {
    background-color: #f44336;
    color: #fff;
    border: none;
  }
  
  ul#notesList {
    padding: 0;
  }
  
  ul#notesList li {
    list-style: none;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
  }
  
  ul#notesList li .delete {
    color: #f44336;
    cursor: pointer;
  }   

 #github {
    text-align: center;
 }
